{% extends "base.html" %}
{% block content %}
<h1>Integrations</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png" class="card-img-top" alt="Slack" style="max-width: 100px; margin: 20px auto;">
            <div class="card-body">
                <h5 class="card-title">Slack</h5>
                <p class="card-text">Integrate with Slack for real-time notifications and collaboration.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="https://wac-cdn.atlassian.com/assets/img/favicons/atlassian/favicon.png" class="card-img-top" alt="JIRA" style="max-width: 100px; margin: 20px auto;">
            <div class="card-body">
                <h5 class="card-title">JIRA</h5>
                <p class="card-text">Connect with JIRA for seamless issue tracking and project management.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="https://c1.sfdcstatic.com/content/dam/sfdc-docs/www/logos/logo-salesforce.svg" class="card-img-top" alt="Salesforce" style="max-width: 100px; margin: 20px auto;">
            <div class="card-body">
                <h5 class="card-title">Salesforce</h5>
                <p class="card-text">Integrate with Salesforce for customer relationship management.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}