{% extends "base.html" %}
{% block content %}
<h1>Integrations</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png" class="card-img-top" alt="Slack">
            </div>
            <div class="card-body">
                <h5 class="card-title">Slack</h5>
                <p class="card-text flex-grow-1">Integrate with Slack for real-time notifications and collaboration.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="https://seeklogo.com/images/J/jira-logo-C71F8C0324-seeklogo.com.png" class="card-img-top" alt="JIRA">
            </div>
            <div class="card-body">
                <h5 class="card-title">JIRA</h5>
                <p class="card-text flex-grow-1">Connect with JIRA for seamless issue tracking and project management.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="https://c1.sfdcstatic.com/content/dam/sfdc-docs/www/logos/logo-salesforce.svg" class="card-img-top" alt="Salesforce">
            </div>
            <div class="card-body">
                <h5 class="card-title">Salesforce</h5>
                <p class="card-text flex-grow-1">Integrate with Salesforce for customer relationship management.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-img-wrapper">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-webhook-1-675786.png" class="card-img-top" alt="Webhooks">
            </div>
            <div class="card-body">
                <h5 class="card-title">Webhooks</h5>
                <p class="card-text flex-grow-1">Set up custom webhooks to automate workflows and integrate with external services.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}